:8080 {
	encode gzip
	root * /srv/headscale-web
	try_files {path} /index.html
	file_server
	header X-Content-Type-Options nosniff
	header Referrer-Policy no-referrer
	header Content-Security-Policy "default-src 'self'; connect-src 'self'; frame-ancestors 'none'"
	handle /healthz {
		respond "ok" 200
	}
}
